<h4>Welcome to Getacar the decentralised ride sharing platfrom</h4>
<button id="connectButton" (click)="onLoginButtonClick()">Connect to MetaMask</button>
<div *ngIf="myAddress">
  <p>Your MetaMask address: <span id="address"></span></p>
  <p>Your MetaMask balance: <span id="balance"></span></p>
</div>

<div *ngIf="myAddress && rideContractAddress == null">
  <input id="rideCost" type="text" placeholder="Enter Ride Cost">
  <button id="bookRideButton" (click)="onBookRideButtonClick()">Book Ride</button>
</div>

<div *ngIf="rideContractAddress && rideProviderAcceptedStatus == false && rideProviderArrivedAtPickupLocation == false && rideProviderStartedRide == false && rideProviderArrivedAtDropoffLocation== false ">
  <h3>Ride Contract Address:</h3>
  <p>{{ rideContractAddress }} <button (click)="copyAddress()" id="copyButton">Copy</button></p>

</div>

<div *ngIf="rideProviderAcceptedStatus">
  <h3>Status: Accepted and Driving to the Pick-up Location</h3>
</div>

<div *ngIf="rideProviderArrivedAtPickupLocation">
  <input id="userReadyToStartRideMessage" type="text" placeholder="Enter Message">
  <button id="userReadyToStartRide" (click)="setUserReadyToStartRide()">Entered Vehicle and Ready to Start</button>
</div>

<div *ngIf="rideProviderStartedRide">
  <h3>Ride Status: Starting the Ride to your Drop-of Location</h3>
</div>

<div *ngIf="rideProviderArrivedAtDropoffLocation">
  <h3>Ride Status: We arrived at your Destination</h3>
</div>

<div *ngIf="rideProviderArrivedAtDropoffLocation">
  <input id="userMarkedRideCompleteMessage" type="text" placeholder="Enter Message">
  <button id="userMarkedRideComplete" (click)="setUserMarkedRideComplete()">Ride successfully completed</button>
</div>


<router-outlet></router-outlet>
