<app-header></app-header>

<div *ngIf="!rideSearchFoundStatus">
  <h3 class="center-text">Finding your perfect ride...</h3>
  <div class="loading"> <app-loading></app-loading> </div>
  <button class="cancel-button" (click)="cancelBooking()">Cancel</button>
</div>

<div *ngIf="rideSearchFoundStatus">
  <div class="rideDetails" ><p>Your Ride:</p></div>
  <button  id="bookRideButton" (click)="bookRide()">Book Ride</button>
</div>

<div *ngIf="rideContractAddress && rideProviderAcceptedStatus == false && rideProviderArrivedAtPickupLocation == false && rideProviderStartedRide == false && rideProviderArrivedAtDropoffLocation== false ">
  <h3>Ride Contract Address:</h3>
  <p>{{ rideContractAddress }} <button (click)="copyAddress()" id="copyButton">Copy</button></p>

</div>

<div *ngIf="rideProviderAcceptedStatus">
  <h3>Status: Accepted and Driving to the Pick-up Location</h3>
</div>

<div *ngIf="rideProviderArrivedAtPickupLocation">
  <input id="userReadyToStartRideMessage" type="text" placeholder="Enter Message">
  <button id="userReadyToStartRide" (click)="setUserReadyToStartRide()">Entered Vehicle and Ready to Start</button>
</div>

<div *ngIf="rideProviderStartedRide">
  <h3>Ride Status: Starting the Ride to your Drop-of Location</h3>
</div>

<div *ngIf="rideProviderArrivedAtDropoffLocation">
  <h3>Ride Status: We arrived at your Destination</h3>
</div>

<div *ngIf="rideProviderArrivedAtDropoffLocation">
  <input id="userMarkedRideCompleteMessage" type="text" placeholder="Enter Message">
  <button id="userMarkedRideComplete" (click)="setUserMarkedRideComplete()">Ride successfully completed</button>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
