body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

button {
  font-size: 1em;
  width: 100%;
  padding: 10px 20px;
  color: #4C3D3D;
  background-color: #FFD95A;
  font-family: 'Poppins';
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
  margin-top: 20px;
}

button:hover {
  background-color: #C07F00;
  font-family: 'Poppins';
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  font-family: 'Poppins';
}

input[type="text"] {
  width: 100%;
  font-family: 'Poppins';
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

p {
  font-size: 1em;
  font-family: 'Poppins';
  color: #4C3D3D;
}

#address, #balance {
  color: #008800;
  font-family: 'Poppins';
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
  color: #4C3D3D;
  margin: 20px 0 10px;
  font-family: 'Poppins';
}

h4 {
  font-size: 1.3em;
  font-weight: bold;
  color: #4C3D3D;
  margin: 20px 0 10px;
  font-family: 'Poppins';
}

#copyButton {
  background-color: #FFD95A;
  font-family: 'Poppins';
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px 10px;
  font-size: 0.8em;
}

#copyButton:hover {
  background-color: #C07F00;
}

.center-text {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.center-text-small {
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
}

.left-text {
  display: flex;
  padding: 10px;
  padding-left: 40px;
}

.loading  {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
  position: relative;
  margin-bottom: 140px;
}

.cancel-button {
  position: relative;
  bottom: 1px;
}

.rideDetails {
  width: 100%;
  height: 50vh;
  border-radius: 15px;
  border: 1px solid;
  border-color: #000000;
}

.rideDetailsText {
  font-family: 'Poppins';
  padding-left: 10px;
}

.rideDetailsTextHeader {
  padding: 10px;
  font-family: 'Poppins';
  font-size: 1.2em;
}

.tab {
        tab-size: 2;
    }
